<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="">
        <!DOCTYPE html>
<html>
<head>
    <title>Form</title>
</head>
<body>
    <form>
        {% for key, value in my_object.items() %}
            <label for="{{ key }}">{{ key }}:</label>
            <input type="text" id="{{ key }}" value="{{ value }}">
        {% endfor %}
    </form>
</body>
</html>


    </form>
</body>
<script>
</script>
</html>
