<!DOCTYPE html>
<html>
<head>
  <title>Patient Information Form</title>
</head>
<body>
  <h1>Patient Information</h1>
  <form action="{{ url_for('patientForm') }}" method="post">
    {% for key, value in formData.items() %}
      <label for="{{ key }}">{{ key }}:</label>
      {% if value is iterable %}
        <select id="{{ key }}" name="{{ key }}" value="{{initialValues[key]}}">
          {% for item in value %}
            <option value="{{ item }}">{{ item }}</option>
          {% endfor %}
          <option value="" disabled selected>Select</option>
        </select>
      {% else %}
        <input type="text" id="{{ key }}" name="{{ key }}" value="{{ value }}">
      {% endif %}
      <br><br>
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
  <div>{{result}}</div>
</body>
</html>
